.navbar {
  display: flex;
  justify-content: space-between;
  background: #0f172a;
  color: white;
  padding: 15px 30px;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}